<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.mapper.DanxuantiMapper">
  <resultMap id="BaseResultMap" type="com.example.pojo.Danxuanti">
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" jdbcType="INTEGER" property="id" />
    <result column="tigan" jdbcType="VARCHAR" property="tigan" />
    <result column="xx" jdbcType="VARCHAR" property="xx" />
    <result column="nyd" jdbcType="VARCHAR" property="nyd" />
    <result column="UID" jdbcType="INTEGER" property="uid" />
    <result column="createTime" javaType="DATE" property="createTime"/>
  </resultMap>

  <insert id="insertXzt" parameterType="com.example.pojo.Danxuanti" useGeneratedKeys="true" keyProperty="id">
    insert into Danxuanti(tigan,xx,nyd,UID,da,createTime) values (#{tigan},#{xx},#{nyd},#{uid},#{da},#{createTime})
  </insert>
  <select id="selectXztAll" parameterType="com.example.pojo.Danxuanti" resultType="com.example.pojo.Danxuanti">
    select * from Danxuanti
  </select>
  <select id="selectByUid" parameterType="com.example.pojo.Danxuanti" resultType="com.example.pojo.Danxuanti">
    select * from Danxuanti where UID = 1
  </select>
  <select id="selectById" parameterType="java.lang.Integer" resultType="com.example.pojo.Danxuanti">
    select * from Danxuanti where ID = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteXztById" parameterType="java.lang.Integer">
    delete from danxuanti where ID = #{id,jdbcType=INTEGER}
  </delete>
  <update id="updataById" parameterType="com.example.pojo.Danxuanti">
    update danxuanti set tigan=#{tigan},xx=#{xx},da=#{da},nyd=#{nyd} where id = #{id}
  </update>
  <update id="updataUid" parameterType="com.example.pojo.Danxuanti">
    update danxuanti set UID=#{uid} where id = #{id}
  </update>
</mapper>