<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.mapper.PanduantiMapper" >
  <resultMap id="BaseResultMap" type="com.example.pojo.Panduanti" >
    <!--
      WARNING - @mbg.generated
    -->
    <id column="ID" property="id" jdbcType="INTEGER" />
    <result column="tigan" property="tigan" jdbcType="VARCHAR" />
    <result column="da" property="da" jdbcType="VARCHAR" />
    <result column="fz" property="fz" jdbcType="INTEGER" />
    <result column="nyd" property="nyd" jdbcType="VARCHAR" />
    <result column="createTime" property="createtime" jdbcType="TIMESTAMP" />
    <result column="UID" property="uid" jdbcType="INTEGER" />
  </resultMap>
  <insert id="insertPdt" useGeneratedKeys="true" parameterType="com.example.pojo.Panduanti" keyColumn="id">
    insert into panduanti(tigan,da,nyd,createTime,UID) values (#{tigan},#{da},#{nyd},#{createTime},#{uid})
  </insert>
  <select id="queryPdtAll" parameterType="com.example.pojo.Panduanti" resultType="com.example.pojo.Panduanti">
    select * from panduanti
  </select>
  <select id="queryPdtByUid" parameterType="com.example.pojo.Panduanti" resultType="com.example.pojo.Panduanti">
    select * from panduanti where UID = 1
  </select>
  <delete id="deletePdtById" parameterType="java.lang.Integer">
    delete from panduanti where ID = #{id,jdbcType=INTEGER}
  </delete>
  <update id="updataById" parameterType="com.example.pojo.Panduanti">
    update panduanti set tigan=#{tigan},da=#{da},nyd=#{nyd} where id = #{id}
  </update>
  <update id="updataUid" parameterType="com.example.pojo.Jiandati">
    update panduanti set UID=#{uid} where id = #{id}
  </update>
</mapper>